// Colour variables
$primary-color: #333;
$grey-mid: #888;
$grey-light: #eee;
$highlight: #F1676D;

// Font family intialisation
$font-family: 'Open Sans', helvetica, arial, sans-serif; //chosen for accessibility
$font-title: 'Raleway', sans-serif;

body {
    font-family: $font-family;
}

// Title styles
h2,h3,h4,h5 {
    font-family: $font-title;
    text-align: center;
    width: 100%;
    margin: 1em 0;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.1em;
    color: $grey-mid;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.white {
    color: white;
}

.pink {
    color: $highlight;
}

.pink-bg {
    background: $highlight;
    background-color: $highlight;
}

.btn {
    border-radius: 0;
    a {
        padding: 0 8px;
        display: inline-block;
    }
    a:hover {
        color: $grey-light;
        text-decoration: none;
    }
}

.center {
    display: inline-block;
    float: none;
    margin: 0 auto;
}

.image-wrap {
    width: 100%;
    display: inline-block;
}

.section {
    padding: 3em 0;
    display: block;
}

form .container {
    max-width: 100%;
}

.submit {
    border-radius: 5px;
}

// Nav section
.navbar-inverse {
    background-color: transparent;
    border-color: rgba(255,255,255, .25);
    z-index: 99;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(255,255,255,.1);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background: $highlight;
    a {
        color: white !important;
    }
}

// Banner
.section.banner {
        padding-top: 0;
        background: url(../images/hero-1.jpg);
        height: 90vh;
        width: 100%;
        background-size: cover;
    h2.banner-title {
        display: block;
        margin: 1em auto 1em auto;
        color: white;
        padding-top: 15vh;
        font-size: 3em;
        font-weight: 300;
        float: none;
    }
    .btn {
        margin: 4em auto;
        position: relative;
        display: block;
        float: none;
        max-width: 170px;
    }

    .carousel {
        height: 90vh;
        margin-bottom: 60px;
        margin-top: -52px;
        z-index: 0;
    }

    .carousel-inner {
        overflow: visible; 
        margin-top: -70px !important;
    }

     .carousel-caption {
        z-index: 10;
    }

    .carousel .item {
        // width: 100%;
        height: 90vh;
        background-color: #777;
    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 90vh;
    }

}

// Services section
.section.services {
    background: $grey-light;
    .col-sm-6,
    .col-md-4 {
        background: white;
        border: 5px solid $grey-light;
    }

    img.icon {
        max-width: 33%;
        display: block;
        margin: 1em auto 0 auto;
        float: none;
        position: relative;
        fill: $highlight;
    }
    .col-sm-6:hover,
    .col-md-4:hover {
        background: $highlight;
        border: 5px solid $grey-light;
        color: white;
    }
    .col-sm-6:hover img.icon,
    .col-sm-4:hover img.icon {
        fill: white;
    }
}

// News section
.section.latest-news{
    .date {
        color: $grey-mid;
    }

    img.news {
        max-width: 100%;
    }

    h5,
    h6 {
        text-align: left;
        margin-bottom: .5em;
    }

    h6 {
        margin-bottom: 1em;
    }

    a.read-more {
        width: 100%;
        text-transform: uppercase;
        color: $highlight;
        margin-top: .5em;
        display: block;
    }
    
    .btn {
        display: block;
        max-width: 170px;
    }
}

// Testimonials section 
.section.testimonials {
    background: url("../images/testimonial.jpg");
    min-height: 40vh;
    width: 100%;
    background-size: cover;
    text-align: center;

    h6 {
        display: block;
        position: relative;
        margin: 0 auto;
    }
    h6 span {
        color: $highlight;
    }
}

// Contact Us section
.section.contact {
    form {
        width: 100%;
        display: block; 
        margin: 1em auto 0 auto;
    }
    textarea,
    input:not([type=submit]) {
        border: 0px;
        background: $grey-light;
        color: $primary-color;
        width: 100%;
        margin: .5em auto;
        padding: .5em;
    }
}

// Map section


// Footer 
.section.footer {
    background: $primary-color;
    color: white;

    form {
        width: 100%;
        display: block; 
        margin: 1em auto 0 auto;
    }

    input:not([type=submit]) {
        width: 100%;
        margin: 0 auto;
        padding: .375rem .75rem;
        border: 0;
    }
}

// Media queries

@media screen and (min-width : 768px) {
    .navbar-inverse .navbar-collapse, 
    .navbar-inverse .navbar-form {
        background: transparent;
    }

    .navbar-nav {
        float: right;
    }

    .section.banner {
        h2.banner-title {
            display: block;
            margin: 2em auto 1em auto;
        }
        .carousel-caption p {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.4;
        }
    }

    .section.contact{
        form {
            width: 65%;
        }
    }
    
    .section.footer{
        form {
            width: 65%;
        }
    }
}
