body {
  font-family: "Open Sans", helvetica, arial, sans-serif; }

h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 100%;
  margin: 1em 0;
  text-transform: uppercase; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.1em;
  color: #888; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.white {
  color: white; }

.pink {
  color: #F1676D; }

.pink-bg {
  background: #F1676D;
  background-color: #F1676D; }

.btn {
  border-radius: 0; }
  .btn a {
    padding: 0 8px;
    display: inline-block; }
  .btn a:hover {
    color: #eee;
    text-decoration: none; }

.center {
  display: inline-block;
  float: none;
  margin: 0 auto; }

.image-wrap {
  width: 100%;
  display: inline-block; }

.section {
  padding: 3em 0;
  display: block; }

form .container {
  max-width: 100%; }

.submit {
  border-radius: 5px; }

.navbar-inverse {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
  z-index: 99; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1); }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #101010;
  background: #F1676D; }
  .navbar-inverse .navbar-collapse a, .navbar-inverse .navbar-form a {
    color: white !important; }

.section.banner {
  padding-top: 0;
  background: url(../images/hero-1.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover; }
  .section.banner h2.banner-title {
    display: block;
    margin: 1em auto 1em auto;
    color: white;
    padding-top: 15vh;
    font-size: 3em;
    font-weight: 300;
    float: none; }
  .section.banner .btn {
    margin: 4em auto;
    position: relative;
    display: block;
    float: none;
    max-width: 170px; }
  .section.banner .carousel {
    height: 90vh;
    margin-bottom: 60px;
    margin-top: -52px;
    z-index: 0; }
  .section.banner .carousel-inner {
    overflow: visible;
    margin-top: -70px !important; }
  .section.banner .carousel-caption {
    z-index: 10; }
  .section.banner .carousel .item {
    height: 90vh;
    background-color: #777; }
  .section.banner .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 90vh; }

.section.services {
  background: #eee; }
  .section.services .col-sm-6,
  .section.services .col-md-4 {
    background: white;
    border: 5px solid #eee; }
  .section.services img.icon {
    max-width: 33%;
    display: block;
    margin: 1em auto 0 auto;
    float: none;
    position: relative;
    fill: #F1676D; }
  .section.services .col-sm-6:hover,
  .section.services .col-md-4:hover {
    background: #F1676D;
    border: 5px solid #eee;
    color: white; }
  .section.services .col-sm-6:hover img.icon,
  .section.services .col-sm-4:hover img.icon {
    fill: white; }

.section.latest-news .date {
  color: #888; }
.section.latest-news img.news {
  max-width: 100%; }
.section.latest-news h5,
.section.latest-news h6 {
  text-align: left;
  margin-bottom: .5em; }
.section.latest-news h6 {
  margin-bottom: 1em; }
.section.latest-news a.read-more {
  width: 100%;
  text-transform: uppercase;
  color: #F1676D;
  margin-top: .5em;
  display: block; }
.section.latest-news .btn {
  display: block;
  max-width: 170px; }

.section.testimonials {
  background: url("../images/testimonial.jpg");
  min-height: 40vh;
  width: 100%;
  background-size: cover;
  text-align: center; }
  .section.testimonials h6 {
    display: block;
    position: relative;
    margin: 0 auto; }
  .section.testimonials h6 span {
    color: #F1676D; }

.section.contact form {
  width: 100%;
  display: block;
  margin: 1em auto 0 auto; }
.section.contact textarea,
.section.contact input:not([type=submit]) {
  border: 0px;
  background: #eee;
  color: #333;
  width: 100%;
  margin: .5em auto;
  padding: .5em; }

.section.footer {
  background: #333;
  color: white; }
  .section.footer form {
    width: 100%;
    display: block;
    margin: 1em auto 0 auto; }
  .section.footer input:not([type=submit]) {
    width: 100%;
    margin: 0 auto;
    padding: .375rem .75rem;
    border: 0; }

@media screen and (min-width: 768px) {
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background: transparent; }

  .navbar-nav {
    float: right; }

  .section.banner h2.banner-title {
    display: block;
    margin: 2em auto 1em auto; }
  .section.banner .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }

  .section.contact form {
    width: 65%; }

  .section.footer form {
    width: 65%; } }

/*# sourceMappingURL=style.css.map */
